<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ahy" translate="label" sortOrder="200">
            <label>Ahy</label>
        </tab>
        <section id="flxpoint_approval" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>FlxPoint Approval</label>
            <tab>ahy</tab>
            <resource>Ahy_FlxPointApproval::config</resource>
            <group id="email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Email Notifications</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Pending Product Notifications</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="recipient_emails" translate="label comment" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Recipient Email(s)</label>
                    <comment>Enter one or more email addresses (comma or newline separated) to notify when new FlxPoint products are staged for approval.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
